<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tarefas</ion-title>
    </ion-toolbar>
  </ion-header>


  
  <ion-card *ngFor= "let d of tarefas">
    <ion-card-title>{{d.nome}}</ion-card-title>
    <ion-card-subtitle>{{d.tipo}}</ion-card-subtitle>
  <ion-card-content>
    {{c.descricao}}
  </ion-card-content>
  </ion-card>
</ion-content>
